@charset "UTF-8";
html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
    /* scroll-behavior: smooth; */
}

/* リセットおまじない--------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
    text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */
body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
    color:#3b4043;
}
h1{
    font-size: 28px;
    margin: 40px;
}
h2{
    font-size: 20px;
    margin: 10px 0;
}
p{
    text-align: left;
}
a{
    display:inline-block;
}
section{
    margin-top: 55px;
}
/* ーーーーーーーーーーーーーーーーー */

header{
    width: 100%;
    height: 55px;
    background-color: #000000;
    color: antiquewhite;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header ul{
    display: flex;
    justify-content: space-around;
}
nav{
    width: 50%;
}

#mainVisual{
    width: 100%;
    height: 600px;
    color: #fff;
    background:no-repeat center center;
    background-size:cover ;
    background-image: url("../img/diana-polekhina-PIDlLKcFOEI-unsplash.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#about{
    background-color: rgb(252, 245, 245);
    border: 5px solid rgb(252, 213, 240);
    padding: 100px;
    margin: 100px;
    position: relative;
}

/* #about h2{
    position: absolute;
    bottom:80px;
    left: 30px;
} */

#gallery .inline-container img{
    width: 250px;
    height: 200px; 
    object-fit: cover;
}


#gallery .block-container p{
    width: 500px;
    text-align: center;
    margin: 20px auto;

}


/* 
セレクタ{
    プロパティ:値;
}

どこの{
    何を:どうする;
} */


span{
    background-color: red;
}

#access .access_container ,#profile .access_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#access .access_info p,#profile .access_info{

    margin: 40px;
    width: 40%;
}
#profile img{

    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}




#about {
    color:blue;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}